.metric.current {
	.inner {
		background-color: #EFE;
	}
}
.metric {
	.inner {
		border: 1px solid black;
		min-height: 2em;
		margin: 5px;
	}
	strong {
		font-weight: bolder !important;
	}
}

.metric-year {
}

.metric-quarter {
}

.metric-quarter {
}

.metric-week {
}
